<html>
	<head>
		<title>My projects</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
	</head>
	<body>
		<div th:replace="navbar :: topbar"></div>
		<h1>Your projects</h1>
		<table border="2" width="500" id="projectsTable">
			<tr th:each="project : ${projectsList}">
				<td><a th:href="'/projects/' + ${project.id}" th:text="${project.name}"></a>
					project name
				</td>
				<td th:text="${project.description}">
					project description
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<a th:href="@{/projects/add}">Create a new project</a>
				</td>
			</tr>
		</table>
	</body>
</html>