<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

	<title th:text="${project.name}">Project</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

	<!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">

	<link href="https://getbootstrap.com/docs/4.1/examples/offcanvas/offcanvas.css" rel="stylesheet"> 

</head>

<body>
	<th:block th:replace="navbar :: topbar"></th:block>
	<main class="container row" style="margin-top: 30px; margin-left: 40px;">

		<!-- Contenuto principale -->
		<div role="main" class="col-md-9">
			<h1 th:text="${'Project: ' + project.name}">...
			</h1>
			
			<h3>Description: </h3><div th:text="${project.description}"></div>
			<br>
			<br>
			
			<h3>Shared with</h3>
			<table class="table">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Action</th>
				</tr>
				<tr th:each="member : ${members}">
					<td th:text ="${member.name}"></td>
					<td th:text ="${member.lastName}"></td>
					<td th:if="${currentUserIsOwner==true}">
						<form method="post" th:action="@{'/projects/' + ${project.id} + '/members/' + ${member.id} +'/remove'}">
							<button type="submit" name="submit" value="value" class="btn btn-primary">DELETE</button>
						</form>
					</td>
				</tr>
			</table>
			
			<br>
			
			<h3>Tasks</h3>
			<a th:href="@{'/projects/' + ${project.id} + '/task/new'}">Create new Task</a>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Action</th>
				</tr>
				<tr th:each="task : ${project.projectTasks}">
					<td th:text="${task.name}"></td>
					<td th:text="${task.description}"></td>
					<td>
						<a th:href="@{'/projects/' + ${project.id} + '/task/' + ${task.id}}" >
							<button type="submit" name="submit" value="value" class="btn btn-primary">MORE DETAILS</button>
						</a>
					</td>
				</tr>
			</table>
			
			<br>		

			<h3>Tags</h3>
			<a th:href="@{'/projects/' + ${project.id} + '/addtag'}">Create new Tag</a>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Color</th>
					<th>Description</th>
					<th>Action</th>
				</tr>
				<tr th:each="tag : ${project.tags}">
					<td th:text="${tag.name}"></td>
					<td th:text="${tag.color}"></td>
					<td th:text="${tag.description}"></td>
					<td>
						<a th:href="@{'/projects/' + ${project.id} + '/tags/' + ${tag.id} +'/edit'}" class="btn btn-primary">
							EDIT
						</a>
					</td>
					<td>
						<form method="post" th:action="@{'/projects/' + ${project.id} + '/tags/' + ${tag.id} +'/remove'}">
							<button type="submit" name="submit" value="value" class="btn btn-primary">DELETE</button>
						</form>
					</td>
				</tr>
			</table>
			<br>
			<br>
		</div>

		<!-- SIDEBAR -->
		<div class="col-md-3" style="border-left: 1px solid #aaa;">
			<div style="margin-bottom: 10px;" th:if="${allCredentials.size() > 0}">

				<h3>Manage members</h3>
				<!-- Form per aggiunta di membri -->
				<form method="post" th:action="@{'/projects/' + ${project.id} + '/members/add'}" th:object="${credentialForm}">
					<label>Choose a member to add</label><br>
					<select th:field="*{userName}">
						<th:block th:each="credential : ${allCredentials}">
						<option th:value="${credential.userName}" 
						th:text="${credential.userName}"></option>				
					</th:block>
				</select>
				<td>
				<input type="submit" name="memberButton" value="Add member" class="btn btn-primary">
				</td>
			</form>

		</div>
		<br>
		<div style="margin-bottom: 10px;">
			<form method="get" th:action="@{'/projects/' + ${project.id} + '/edit'}" th:object="${projectForm}">
				<input type="submit" name="editProject" value ="Edit project" class="btn btn-primary">
			</form>
		</div>
		<br>
		<div style="margin-bottom: 10px;">
			<form method="post" th:action="@{'/projects/' + ${project.id} + '/delete'}" th:object="${projectForm}">
				<input type="submit" name="deleteProject" value ="Delete project" class="btn btn-primary">
			</form>
		</div>
		<br>
		<div><a th:href="@{'/projects/'}">Back to my projects</a></div>
	</div>
</main>

</body>
</html>