<html>
	<head>
		<title>TaskManager</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
	</head>
	
	<body>
		<div th:replace="navbar :: topbar"></div>
		<h2 th:text="${project.name}">...</h2>
		
		<table>
			<tr>
				<td>
					<h3>Description</h3>
				</td>
				<td th:text="${project.description}">...</td>
			</tr>
			<tr>
				<td>
					<h3>Shared with:</h3>
				</td>
				<td>
					<ul>
						<li th:each="member : ${members}">
							<div th:text ="${member.name} + ' ' + ${member.lastName}"></div>
						</li>
					</ul>					
				</td>
			</tr>
			<tr>
				<td><h3>Tasks</h3></td>
				<td>
					<ul>
					<li th:each="task : ${project.projectTasks}">
						<div>
							<a th:href="@{'/projects/' + ${project.id} + '/task/' + ${task.id}}" th:text="${task.name}">...</a>	
						</div>
						<div th:text="${task.description}"></div>
					</li>
					</ul>
				</td>
			</tr>
			
			<tr>
				<td colspan="2"><a th:href="@{'/projects/' + ${project.id} + '/task/new'}">Create a new Task</a></td>
			</tr>
			<br>
			<tr>
				<td><h3>Tags</h3></td>
				<td>
					<ul>
					<li th:each="tag : ${project.tags}">
						<div>
							<a th:text="${tag.name}">...</a>							
						</div>
						<div th:text="${tag.description}"></div>
						<div th:text="${tag.color}"></div>
					</li>
					</ul>
				</td>
			</tr>
		</table>
		<br>
		<td><h3>Create a new tag</h3></td>
					<!-- Form per il nuovo tag -->
			<form method="post" th:action="@{'/projects/' + ${project.id} + '/addtag'}" th:object="${tagForm}">
				<table>
                	<tr>
        		  		<td><label>Name</label></td>
        		  		<td><input type="text" th:field="*{name}"></td>
                	</tr>
                	<tr>
        		  		<td><label>Color</label></td>
        		  		<td><input type="text" th:field="*{color}"></td>
                	</tr>
                	<tr>
        		  		<td><label>Description</label></td>
        		  	<td><input type="text" th:field="*{description}"></td>
                	</tr>
        		</table>
        			<input type="submit" value="Add tag" style="margin-top: 10px;">
       		</form>
			
       		<tr>
       			<td><h3>Manage members</h3></td>
					<!-- Form per aggiunta di membri -->
        		<td>
					<form method="post" th:action="@{'/projects/' + ${project.id} + '/members/add'}" th:object="${credentialForm}">
						<label>Choose a member to add</label><br>
						<select th:field="*{userName}">
							<th:block th:each="credential : ${allCredentials}">
								<option th:value="${credential.userName}" 
									th:text="${credential.userName}"></option>				
							</th:block>
						</select><br>

						<input type="submit" name="memberButton" value="Add member">
					</form>
				</td>
			</tr>
			
			<td>
					<form method="post" th:action="@{'/projects/' + ${project.id} + '/delete'}" th:object="${projectForm}">
						<input type="submit" name="deleteProject" value ="Delete project">
					</form>
			</td>
			
			<td>
					<form method="post" th:action="@{'/projects/' + ${project.id} + '/edit'}" th:object="${projectForm}">
						<input type="submit" name="editProject" value ="Edit project">
			</form>
		</table>	
	</body>
</html>