<html>
<head>
	<title>Register new project</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
	<div th:replace="navbar :: topbar"></div>
 <h1>Register new Project</h1>
 <form th:action="@{/projects/add}" method="post">
    <table>
        <tr>
        	<div>
          <td><label>Project Name: </label></td>
          <td><input type="text" th:field="${projectForm.name}"></td>
          <div th:if="${#fields.hasErrors('projectForm.name')}"
          		th:errors = "${projectForm.name}" th:style="'color: red'">
          	</div>
          </div>
  		</tr>
  		<tr>
      		<div>
          		<td><label>Description: </label></td>
          		<td><input type="text" th:field="${projectForm.description}"></td>
          		<div th:if="${#fields.hasErrors('projectForm.description')}"
          		th:errors = "${projectForm.description}" th:style="'color: red'">
      		</div>
      	</div>
  		</tr>	
</table>
<input type="submit" value="Save">
</form>        
</body>
</html>
