<html>
<head>
</head>
<body>
 <h1>Register new Project</h1>
 <form th:action="@{/projects/add}" method="post">
    <table>
        <tr>
        	<div>
          <td><label>Project Name: </label></td>
          <td><input type="text" th:field="${projectForm.name}"></td>
          <td th:if="${#fields.hasErrors('projectForm.name')}"
          th:errors = "${projectForm.name}" th:style="'color: red'"></td>
          	</div>
  		</tr>
  		<tr>
      		<div>
          		<td><label>Description: </label></td>
          		<td><input type="text" th:field="${projectForm.description}"></td>
          		<td th:if="${#fields.hasErrors('projectForm.description')}"
          		th:errors = "${projectForm.description}" th:style="'color: red'"></td>
      		</div>
  		</tr>	
</table>
<input type="submit" value="Salva">
</form>        
</body>
</html>
