<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit your profile</title>
    </head>
    <body>
    	<h1>Edit your profile</h1>
        <form th:object="${userForm}" th:action="@{/user/profile/edit}" method="post">
        	<div>
        		<label>Name: </label>
        		<input type="text" th:field="*{name}">
        	</div>
        	<div>
        		<label>Last name: </label>
        		<input type="text" th:field="*{lastName}">
        	</div>
        	<input type="submit" value="Salva">
        </form>        
    </body>
</html>