<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit your profile</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    </head>
    <body>
        <div th:replace="navbar :: topbar"></div>
    	<h1>Edit your profile</h1>
        <form th:object="${userForm}" th:action="@{/user/profile/edit}" method="post">
        	<table>
                <tr>
        		  <td><label>Name</label></td>
        		  <td><input type="text" th:field="*{name}"></td>
                </tr>
                <tr>
        		  <td><label>Last name</label></td>
        		  <td><input type="text" th:field="*{lastName}"></td>
                </tr>
        	</table>
        	<input type="submit" value="Save" style="margin-top: 10px;">
        </form>        
    </body>
</html>